label{
    margin: 0.4em;
}
.marcas{
    margin: 1rem;
}
.buttons{
    margin: 1rem;

}
.btn{
    margin: 1rem;
}
.form-control,.form-select {
    padding: 0.5em;
    margin: 0.4em;
    width:25%;
}
form{
    display:grid;
}