<div class="container">

    <div class="formContainer">
        <div class="logo">
            <h1>Artventory</h1>
            <h2>Bienvenido/a</h2>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div>
                <label for="username">Nombre de Usuario: </label>
                <input type="text" id="username" name="username" ngModel>
            </div>
            <div>
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password" ngModel>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <p>¿Es tu primera vez? <a href="register">Regístrate</a></p>
            </div>
        </form>
    </div>
</div>