.card 
{
        position: relative;
        border: 1px red solid;
        width: 100%;
        height: auto;
        max-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align-last: left;
}
img{
    width: 100%;
    height: auto;
    max-width: 320px;
}
.card .image,
.card .text {
    transition: opacity 0.5s ease-in-out;
}
.card .text 
{
    position:absolute; 
    opacity:0;
    text-align: center;
}

.card:hover .image {opacity:0;}
.card:hover .text {opacity:1;}