<div class="productos container">
    <div>
        <div class="title">
            <h1>Productos</h1>
        </div>
        <div class="toolbar">
            <button class="btn btn-primary" (click)="create()">Crear Producto</button>

        </div>
        <div class="cards">
            <div class="row">
                @for(producto of productos;track producto){
                    <div class="col-lg-3 col-md-3  d-flex align-items-stretch">
                        <app-producto (productoEliminado)="delete($event)" [producto]="producto" ></app-producto>
                    </div>
                }
            </div>
        </div>
    </div>
</div>