.productos{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
}
@media only screen and (max-width: 1200px) {
    .productos{
       grid-template-columns: auto auto auto;
       column-gap: 10px;
       row-gap: 10px;
    }
    
}
@media only screen and (max-width: 600px) {
    .productos{
        grid-template-columns: auto auto;
    }
    
}
@media only screen and (max-width: 400px) {
    .productos{
        grid-template-columns: auto ;
    }
    
}