label{
    margin: 0.4em;
}
.marcas{
    margin: 1rem;
}
button{
    padding: 1em;
    margin: 0.4em;
    color: white;
}
button.primary{
    background-color: cornflowerblue;
    &:hover{
        background-color: darken(cornflowerblue, 20%);
    }
}
button.second{
    background-color: red;
    &:hover{
        background-color: darken(red, 20%);
    }
}
.buttons{
    margin-top: 1em;
}
input {
    padding: 0.5em;
    margin: 0.4em;
    width:25%;
}
form{
    display:grid;
}