<div class="card" >
    <div class="card-body">
        <h2 class="card-title">{{serie.name}}</h2>
        <p  class="card-text">{{serie.description}}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="edit()">
            <i class="bi bi-pencil-square" ></i>
        </button>
        <button class="btn btn-danger" (click)="delete()">
            <i class="bi bi-trash" ></i>
        </button>
        <button class="btn btn-primary" (click)="productos()">
            <i class="bi bi-collection" ></i>
            Productos
        </button>
    </div>
</div>
