<div class="categorias">
    <div>
        <div class="title">
            @if(id!=null){
                <h1 >Editando {{name}} </h1>
            }@else{
                <h1>Nueva Categoría</h1>
            }
        </div>
        <div class="toolbar">
            <button class="btn btn-primary" (click)="save()">Guardar</button>
            <button class="btn btn-primary" (click)="saveAndClose()">Guardar y cerrar</button>
            <button class="btn btn-danger" (click)="close()">Cerrar</button>
        </div>
        <div class="form">
            <form #loginForm="ngForm">
                <label for="name">Nombre:</label>
                <input class="form-control" type="text" placeholder="Nombre" name="name" [(ngModel)]="name">
                <label for="name">Descripción:</label>
                <input class="form-control" type="text" placeholder="Descripción" name="description" [(ngModel)]="description">
            </form>

        </div>
    </div>
</div>