.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: lightblue;
    padding: 0.5rem;
    margin: 1rem;
    h1{
        margin: 0.5rem;
    }
    width: 50rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow:  10px 5px 5px lightgray;
    
    
}
.acciones{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    .btn{
        margin: 0.5em;
    }

}
.details{
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    .userDetail{
        margin: 1rem;
    }
    .modify{
        color:blue;
        margin: 1rem;
        &:hover{
            color:darkblue;
        }
    }
}
