<ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="" >Home</a></li>
    <li routerLinkActive="active"><a routerLink="marcas" >Marcas</a></li>
    <li routerLinkActive="active"><a routerLink="categorias" >Categorías</a></li>
    <li routerLinkActive="active"><a routerLink="productos" >Productos</a></li>
    
    <div class="perfil">
    <li routerLinkActive="active" *ngIf="isLogin()"><a routerLink="perfil" >Mi Perfil</a></li>
    <li routerLinkActive="active" *ngIf="!isLogin()"><a routerLink="login" >Login</a></li>
    <li><a (click)="logout()" *ngIf="isLogin()">Logout</a></li>
    </div>


    
</ul>

